@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #031d38;
  font-family: "Noto Sans Mono", monospace;
}

.monaco-editor {
  font-size: 16px !important;
  font-family: "Noto Sans Mono", monospace !important;
}
